


.house{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#020202;
    height: 400px;
    width: 400px;
}

.control {
    margin: 20px;
    padding-top:170px;
    padding-right: 50px;
    margin-left: 100px;
}
.text{
    color: darkgrey;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 19px;
    font-size: 70px;
}

input{
    position: absolute;
    bottom: 100px;
    left: 60px;
    background-color: darkslategrey;
}